# Challenge 1 - Multiple Regression Analysis

# Before your start:

    Read the README.md file
    Comment as much as you can and use the resources (README.md file)
    Happy learning!

In this lab exercise we will work with vehicles.csv data set. 
You can find a copy of the dataset in the git hub folder. 
The objective of this exercise is to predict CO2 emissions for vehicles. 
Please follow the steps and provide your code along with comments.

In [148]:
## Import the libraries for loading the data set 
## Load the dataset 
import pandas as pd
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn import preprocessing
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import StandardScaler
from statsmodels.formula.api import ols
import numpy as np

vehicles = pd.read_csv(r'C:\Users\Repairmanmanmanman\test\datamia0819\Notes\vehicles.csv')
vehicles.head(4)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550

In [149]:
## You can use the warnings library to ignore warnings that might show when you run the code
import warnings
warnings.filterwarnings('ignore')

In this exercise, we are not going to use all the variables in the dataset to make the predictions. Here is the
list of the numerical and categorical variables that we will use:
    
    Numerical : Engine Displacement, Fuel Barrels/Year, Combined MPG
    Categorical : Cylinders, Fuel Type, Drivetrain

Numerical and Categorical together make up the predictor variables 
Target variable is "CO2 emissions for vehicles"

### Data Pre-processing (Handling Numerical variables)

First we will perform the data pre-processing operations on the specified numerical varibles

In [150]:
## Store the specified numerical columns data as a separate dataframe. Give it the name "numerics"
numerics = pd.DataFrame(vehicles[['Engine Displacement','Fuel Barrels/Year','Combined MPG']])
numerics

       Engine Displacement  Fuel Barrels/Year  Combined MPG
0                      2.5          19.388824            17
1                      4.2          25.354615            13
2                      2.5          20.600625            16
3                      4.2          25.354615            13
4                      3.8          20.600625            16
...                    ...                ...           ...
35947                  1.0           9.155833            36
35948                  1.0           9.155833            36
35949                  1.0           9.155833            36
35950                  0.9           9.155833            36
35951                  0.9           9.417429            35

[35952 rows x 3 columns]

### MinMax scaler

Hint: Since we are using "numerics" to store the nummerical variables we can pass "numerics" directly
as MinMaxScaler().fit(numerics)

In [151]:
## Import the required library
from sklearn.preprocessing import MinMaxScaler
## Perform the scaling and store the results inside "numerical"
numerical = MinMaxScaler().fit_transform(numerics)

numerical

array([[0.24358974, 0.4110142 , 0.20408163],
       [0.46153846, 0.53787268, 0.12244898],
       [0.24358974, 0.43678233, 0.18367347],
       ...,
       [0.05128205, 0.19341667, 0.59183673],
       [0.03846154, 0.19341667, 0.59183673],
       [0.03846154, 0.19897931, 0.57142857]])

In [152]:
## Convert "numerical" into a dataframe so that it can be used later with the dataframe of categorical variables
numerical = pd.DataFrame(numerical, columns=['Engine Displacement','Fuel Barrels/Year','Combined MPG'])
numerical

       Engine Displacement  Fuel Barrels/Year  Combined MPG
0                 0.243590           0.411014      0.204082
1                 0.461538           0.537873      0.122449
2                 0.243590           0.436782      0.183673
3                 0.461538           0.537873      0.122449
4                 0.410256           0.436782      0.183673
...                    ...                ...           ...
35947             0.051282           0.193417      0.591837
35948             0.051282           0.193417      0.591837
35949             0.051282           0.193417      0.591837
35950             0.038462           0.193417      0.591837
35951             0.038462           0.198979      0.571429

[35952 rows x 3 columns]

### Data Pre-processing (Handling Categorical variables)

In this step we will perform the data pre-processing operations on the specified categorical varibles

In [155]:
## Similar to numerical variables, store the specified categorical columns data as a dataframe. 
## Give it the name "cats"
cats = pd.DataFrame(vehicles[['Cylinders','Fuel Type','Drivetrain']])

In [156]:
## Check if "cats" is actually a dataframe using cats.head(3)
cats.head(3)

   Cylinders Fuel Type        Drivetrain
0        4.0   Regular     2-Wheel Drive
1        6.0   Regular     2-Wheel Drive
2        4.0   Regular  Rear-Wheel Drive

### Using One Hot Encoding

In [134]:
# Perform One hot encoding and store the results (one hot encoded dataframe) into "categorical"
categorical = pd.get_dummies(cats)

In [157]:
## Check how the new OHE data looks like using the head() function
categorical.head(3)
type(categorical)

pandas.core.frame.DataFrame

Now we have pre-processed our specified numerical and categorical data. 
In this next step we will combine the two dataframes (numerical and categorical)

You can the following code to combine / concatenate the two dataframes

In [158]:
numerical

       Engine Displacement  Fuel Barrels/Year  Combined MPG
0                 0.243590           0.411014      0.204082
1                 0.461538           0.537873      0.122449
2                 0.243590           0.436782      0.183673
3                 0.461538           0.537873      0.122449
4                 0.410256           0.436782      0.183673
...                    ...                ...           ...
35947             0.051282           0.193417      0.591837
35948             0.051282           0.193417      0.591837
35949             0.051282           0.193417      0.591837
35950             0.038462           0.193417      0.591837
35951             0.038462           0.198979      0.571429

[35952 rows x 3 columns]

In [164]:
x = pd.concat([numerical,categorical],axis=1)

In [165]:
x

,Engine Displacement,Fuel Barrels/Year,Combined MPG,Cylinders,Fuel Type_CNG,Fuel Type_Diesel,Fuel Type_Gasoline or E85,Fuel Type_Gasoline or natural gas,Fuel Type_Gasoline or propane,Fuel Type_Midgrade,...,Fuel Type_Regular Gas and Electricity,Fuel Type_Regular Gas or Electricity,Drivetrain_2-Wheel Drive,"Drivetrain_2-Wheel Drive, Front",Drivetrain_4-Wheel Drive,Drivetrain_4-Wheel or All-Wheel Drive,Drivetrain_All-Wheel Drive,Drivetrain_Front-Wheel Drive,Drivetrain_Part-time 4-Wheel Drive,Drivetrain_Rear-Wheel Drive
0,0.243590,0.411014,0.204082,4.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,0.461538,0.537873,0.122449,6.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,0.243590,0.436782,0.183673,4.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0.461538,0.537873,0.122449,6.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0.410256,0.436782,0.183673,6.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,0.051282,0.193417,0.591837,3.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
35948,0.051282,0.193417,0.591837,3.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
35949,0.051282,0.193417,0.591837,3.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
35950,0.038462,0.193417,0.591837,3.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
35951,0.038462,0.198979,0.571429,3.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

Now that we have processed our predictor varibles, we can work towards fitting the multiple regression model 
on the data

In [166]:
## Store the target variable "CO2 emissions for vehicles" as a dataframe 'Y'
y = pd.DataFrame(vehicles['CO2 Emission Grams/Mile'])

In [167]:
## Import the libraries required for regression model 
## Fit the linear regression model on the data

lm = linear_model.LinearRegression()
X = x
Y = y
model = lm.fit(X, Y)
print(lm.score(X, Y))
intercepts = lm.intercept_
coefficients = lm.coef_

0.996121515366386

In [186]:
## Make predictions on the dataset, store the results in "predictions"
predictions = lm.predict(X)
predictions
X.columns

Index(['Engine Displacement', 'Fuel Barrels/Year', 'Combined MPG', 'Cylinders',
       'Fuel Type_CNG', 'Fuel Type_Diesel', 'Fuel Type_Gasoline or E85',
       'Fuel Type_Gasoline or natural gas', 'Fuel Type_Gasoline or propane',
       'Fuel Type_Midgrade', 'Fuel Type_Premium',
       'Fuel Type_Premium Gas or Electricity',
       'Fuel Type_Premium and Electricity', 'Fuel Type_Premium or E85',
       'Fuel Type_Regular', 'Fuel Type_Regular Gas and Electricity',
       'Fuel Type_Regular Gas or Electricity', 'Drivetrain_2-Wheel Drive',
       'Drivetrain_2-Wheel Drive, Front', 'Drivetrain_4-Wheel Drive',
       'Drivetrain_4-Wheel or All-Wheel Drive', 'Drivetrain_All-Wheel Drive',
       'Drivetrain_Front-Wheel Drive', 'Drivetrain_Part-time 4-Wheel Drive',
       'Drivetrain_Rear-Wheel Drive'],
      dtype='object')

In [171]:
Y[:10]

   CO2 Emission Grams/Mile
0               522.764706
1               683.615385
2               555.437500
3               683.615385
4               555.437500
5               403.954545
6               370.291667
7               444.350000
8               403.954545
9               370.291667

In [198]:
## Print the measures of accuracy of the model - MSE, RMSE, and R2 score
from sklearn.metrics import mean_squared_error
from math import sqrt

mse = mean_squared_error(y, predictions)
rms = sqrt(mean_squared_error(y, predictions))
r2 = r2_score(y, predictions)
print("Mean Squared Error:",mse)
print("Root Mean Squared Error:",rms)
print("R Squared Score:",r2)

Mean Squared Error: 54.97780449732085
Root Mean Squared Error: 7.414701915607993
R Squared Score: 0.996121515366386

Hint: Use from sklearn.metrics import mean_squared_error, r2_score